<h1>Create a New Post</h1>
<form action="/posts" method="post">
  <label for="">Post Name:</label>
  <input id="name" type="text" name="name" placeholder="Enter post name here">
  <label for="">Post Body:</label>
  <input id="content" type="text" name="content" placeholder="Enter post body here">
  <input type="submit" name="submit" value="submit">
</form>
